@model Category
@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/AdminPanel/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Create form elements</h4>
                 
                  <form class="forms-sample" method="post">
                    <div class="form-group">
                      <label asp-for="Name"></label>
                      <input asp-for="Name" class="form-control"  placeholder="Name">
                      <span class="text-danger" asp-validation-for="Name" ></span>
                    </div>
                 
                 
                  
                    <div class="form-group">
                      <label asp-for="Desc"></label>
                      <textarea asp-for="Desc" class="form-control" rows="4"></textarea>
                      <span class="text-danger"asp-validation-for="Desc" ></span>
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
                 <a class="btn btn-inverse-danger" asp-action="index"> Go Back</a>
                  </form>
                </div>
              </div>
            </div>
</div>

@section Scripts{
    <script src="https://cdn.ckeditor.com/ckeditor5/34.2.0/classic/ckeditor.js"></script>
    <partial name="_ValidationPartial" />
      <script>
                        ClassicEditor
                                .create( document.querySelector( '#Desc' ) )
                                .then( editor => {
                                       
                                } )
                                .catch( error => {
                                       
                                } );
                </script>

}