
@model Product
@{
    ViewData["Title"] = "Update";
    Layout = "~/Areas/AdminPanel/Views/Shared/_AdminLayout.cshtml";

}

<div class="row">
    <div class="col-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Create form elements</h4>
                 
                  <form class="forms-sample" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                      <label asp-for="Name"></label>
                      <input asp-for="Name" class="form-control"  placeholder="Name">
                      <span class="text-danger" asp-validation-for="Name" ></span>
                    </div>
                 
                   <div class="form-group">
                      <label asp-for="Count"></label>
                      <input asp-for="Count" class="form-control"  placeholder="Count">
                      <span class="text-danger" asp-validation-for="Count" ></span>
                    </div>

                      <div class="form-group">
                      <label asp-for="Price"></label>
                      <input asp-for="Price" class="form-control"  placeholder="Price">
                      <span class="text-danger" asp-validation-for="Price" ></span>
                    </div>

                      <div class="form-group">
                      <label asp-for="Photo"></label>
                      <input asp-for="Photo" class="form-control">
                      <span class="text-danger" asp-validation-for="Photo" ></span>
                    </div>


                   <label asp-for="Category"></label>
                  <select asp-items="@ViewBag.Categories" asp-for="CategoryId" class="form-select" aria-label="Default select example">

             
                      <option  selected>Open this select menu</option> 
                      </select>
                      <span class="text-danger" asp-validation-for="CategoryId"></span>


                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
                 <a class="btn btn-inverse-danger" asp-action="index"> Go Back</a>
                  </form>
                </div>
              </div>
            </div>
</div>


@section Scripts{
    <script src="https://cdn.ckeditor.com/ckeditor5/34.2.0/classic/ckeditor.js"></script>

    <partial name="_ValidationPartial" />

      <script>
                        ClassicEditor
                                .create( document.querySelector( '#Desc' ) )
                                .then( editor => {
                                       
                                } )
                                .catch( error => {
                                       
                                } );
                </script>

}

